.App {
  text-align: left;
}

.content-container {
  padding: 20px;  /* Add padding to give space around the content */
  margin: 0 auto; /* Center the content horizontally */
  max-width: 1200px; /* Optional: max-width for better readability */
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

.active {
  font-weight: bold;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.skedgoLogo {
  width: 10%;
  height: 30%;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
