.App {
  text-align: left;
}

.content-container {
  padding: 20px;  /* Add padding to give space around the content */
  margin: 0 auto; /* Center the content horizontally */
  max-width: 1200px; /* Optional: max-width for better readability */
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

.active {
  font-weight: bold;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.skedgoLogo {
  width: 10%;
  height: 30%;
}

.skedgoLogoFooter {
  width: 5%;
  height: 10%;
}

.buyMeACoffeeLogo {
  width: 15%;
  height: 30%;
  padding: 10px;
}

.kofiLogo {
  width: 11%;
  height: 30%;
  padding: 10px;
}

